body {
    margin: 0;
    height: 100vh; /* Высота экрана */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4; /* Светлый фон для контраста */
}

.card-container {
    display: flex; /* Расположение карточек в ряд */
    width: 100%; /* Занимает всю ширину */
}

.card {
    flex: 1; /* Каждая карточка занимает равную ширину */
    height: 50vh; /* Высота в половину экрана */
    margin: 10px; /* Отступ между карточками */
    border-radius: 8px; /* Закругленные углы */
    overflow: hidden; /* Скрываем переполнение */
    background-color: white; /* Фон карточки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для карточек */
}

.photo {
    height: 40%; /* Высота блока с изображением */
    padding: 10px; /* Внутренний отступ */
}

.info {
    padding: 10px; /* Внутренний отступ */
    height: 40%; /* Высота блока с информацией */
}

img {
    position: relative;
    left: 17%; /* Сдвиг изображения */
    border-radius: 20px; /* Закругленные углы у изображения */
    width: 66%; /* Ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

h1 {
    margin: 0; /* Убираем отступы у заголовка */
}

p {
    margin: 0; /* Убираем отступы у текста */
}
